body {
  font-family: sans-serif;
}

.button,
button {
  background-color: lightblue;
  border: none;
  border-radius: 0.5rem;
  color: blue;
  font-size: 1rem;
  padding: 0.5rem;
  text-decoration: none;
}

.error {
  color: red;
  margin-top: 0.5rem;
}

input {
  border: solid lightgray 1px;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

label {
  display: block;
}
